h1 {
    text-align: center;
}


.container {
    padding: 200px;
    font-size: 25px;

}





a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}